body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  margin-left: 40px;
}

table {
  font-size: 15px;
}

table td,
table th {
  padding: 18px !important;
}

.nav-tabs .nav-link {
  font-size: 1.2rem;
}

h2 {
  margin-bottom: 25px;
}

img {
  max-width: 100%;
}

#supportHero {
  background: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 45px;
}
#supportHero {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 45px;
}

#supportHero h1 {
  font-size: 50px;
  font-weight: 500;
  color: #424242;
  margin: 0;
}

.ticket-btn {
  background-color: #387ed1;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 18px;
}

.ticket-btn:hover {
  background-color: #387ed1;
  color: white;
}

.search-box {
  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  height: 65px;
}

.search-box .input-group-text {
  background: white;
  padding-left: 22px;
  color: #9b9b9b;
}

.search-box input {
  font-size: 18px;
  color: #444;
}

.search-box input:focus {
  box-shadow: none;
}

.search-box input::placeholder {
  color: #a7a7a7;
  opacity: 1;
  font-weight: 400;
}